version: 2

all-branches-and-tags: &all-branches-and-tags
  filters:
    # CircleCI2 will ignore tags without this. https://circleci.com/docs/2.0/workflows/#git-tag-job-execution
    tags:
      only: /.*/

deployable-branches-and-tags: &deployable-branches-and-tags
  filters:
    tags:
      only: /[0-9]+(?:\.[0-9]+){2,}.palantir-[0-9]+(?:\.[0-9]+)*/
    branches:
      ignore: /.*/

jobs:
  build:
    machine: true
    resource_class: xlarge
    steps:
      - run: |
          sudo apt-get update
          sudo apt-get install openjdk-7-jdk
          curl -k --silent --show-error --location --fail --retry 3 --output /tmp/apache-maven-3.5.4-bin.tar.gz "http://supergsego.com/apache/maven/maven-3/3.5.4/binaries/apache-maven-3.5.4-bin.tar.gz"
          tar -xz -C /tmp -f /tmp/apache-maven-3.5.4-bin.tar.gz
          sudo mv /tmp/apache-maven-3.5.4/ /usr/bin/maven
          rm -rf /tmp/apache-maven-3.5.4/ /tmp/apache-maven-3.5.4-bin.tar.gz
      - checkout
      - restore_cache:
          keys:
           - v1-maven-dependency-cache-{{ checksum "pom.xml" }}
      - run:
          command: |
            export JAVA_HOME=/usr/lib/jvm/java-7-openjdk-amd64/
            export M2_HOME=/usr/bin/maven
            export M2="$M2_HOME/bin"
            export PATH=$M2:$PATH
            mvn -f pom.xml clean verify
      - save_cache:
          key: v1-maven-dependency-cache-{{ checksum "pom.xml" }}
          paths:
            - ~/.m2
      - save_cache:
          key: v1-maven-build-with-version-{{ .Branch }}-{{ .Revision }}
          paths: .
      - store_test_results:
          path: org.eclipse.jgit.test/target/

  deploy:
    machine: true
    steps:
      - restore_cache:
          key: v1-maven-build-with-version-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          key: v1-maven-dependency-cache-{{ checksum "pom.xml" }}
      - run: |
          sudo apt-get update
          sudo apt-get install openjdk-7-jdk
          sudo rm -rf /usr/bin/maven
          curl -k --silent --show-error --location --fail --retry 3 --output /tmp/apache-maven-3.5.4-bin.tar.gz "http://supergsego.com/apache/maven/maven-3/3.5.4/binaries/apache-maven-3.5.4-bin.tar.gz"
          tar -xz -C /tmp -f /tmp/apache-maven-3.5.4-bin.tar.gz
          sudo mv /tmp/apache-maven-3.5.4/ /usr/bin/maven
      - run: |
          echo "user=$BINTRAY_USERNAME" > .credentials
          echo "password=$BINTRAY_PASSWORD" >> .credentials
          echo "realm=Bintray API Realm" >> .credentials
          echo "host=api.bintray.com" >> .credentials
      - deploy:
          command: |
            export JAVA_HOME=/usr/lib/jvm/java-7-openjdk-amd64/
            export M2_HOME=/usr/bin/maven
            export M2="$M2_HOME/bin"
            export PATH=$M2:$PATH
            dev/publish.sh
      - store_test_results:
          path: ~/.m2/repository/org/eclipse/jgit/

workflows:
  version: 2
  build-deploy:
    jobs:
      - build:
          <<: *all-branches-and-tags
      - deploy:
          requires:
            - build
          <<: *deployable-branches-and-tags
